.DS_Store



## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
*.moved-aside
!default.mode1v3
*.ipa
*.dSYM.zip
*.dSYM
# Package.pins
# Carthage/Checkouts
Last login: Sat Feb  4 10:55:54 on ttys000
[oh-my-zsh] Would you like to update? [Y/n] c
[oh-my-zsh] You can update manually by running `omz update`
 wimes@Wimes-MacBook-Pro-14  ~  cd Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay
 wimes@Wimes-MacBook-Pro-14  ~/Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay  ll
total 0
drwxr-xr-x@ 6 wimes  staff   192B  2 20 20:09 iOS 기술과제
 wimes@Wimes-MacBook-Pro-14  ~/Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay  git clone https://github.com/kakaopaycoding-ios/202302-dev.wimes-gmail.com.git
Cloning into '202302-dev.wimes-gmail.com'...
warning: You appear to have cloned an empty repository.
 wimes@Wimes-MacBook-Pro-14  ~/Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay  ll
total 0
drwxr-xr-x  3 wimes  staff    96B  2 20 20:20 202302-dev.wimes-gmail.com
drwxr-xr-x@ 6 wimes  staff   192B  2 20 20:09 iOS 기술과제
 wimes@Wimes-MacBook-Pro-14  ~/Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay  cd 202302-dev.wimes-gmail.com
 wimes@Wimes-MacBook-Pro-14  ~/Documents/MyDocument/Development/Programming/Recruitment/KaKao/2023_pay/202302-dev.wimes-gmail.com   main  ll
total 0
# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift

### macOS ###
.DS_Store

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
".gitignore" 105L, 2672B
